<div class="clearfix p2">
  <div class="mxn1">
    {{#link-to 'characters' (query-params query="null") classNames='button button-narrow button-transparent'}}Characters{{/link-to}}
    {{#link-to 'about' classNames='button button-narrow button-transparent'}}About{{/link-to}}
  </div>
</div>
{{yield}}
