<div class="clearfix bg-black red p2">
  <div class="left">
    {{#link-to 'characters' (query-params query="null") classNames='button button-narrow button-transparent'}}Characters{{/link-to}}
    {{#link-to 'about' classNames='button button-narrow button-transparent'}}About{{/link-to}}
  </div>
</div>
{{yield}}
