<div class="clearfix white bg-black p2">
  <div class="left">
    <h1 class="inline">Marvel</h1>
    {{#link-to 'characters' (query-params query="null") classNames='button button-narrow button-transparent'}}Characters{{/link-to}}
    {{#link-to 'about' classNames='button button-narrow button-transparent'}}About{{/link-to}}
  </div>
</div>
{{yield}}
