<div class="clearfix mxn2">
  <div class="col col-8 px2">
    <div class="px2">
      <form {{action "search" on="submit"}}>
        {{input value=queryField classNames="field-light mb0" placeholder='Search for a character'}}
        <input type="submit" value="Search" class="button ml2" />
      </form>
    </div>
  </div>
  <div class="col col-4 px2">
    <div class="px2 right">
      <p>{{meta.total}} characters</p>
    </div>
  </div>
</div>
<div class="clearfix mxn2">
  <div class="col col-12 p2 mx-auto">
    <div class="flex flex-wrap flex-stretch p1">
      {{#each model as |character|}}
        {{characters/character-card  character=character}}
      {{/each}}
    </div>
  </div>
</div>
