<div class="clearfix">
  <div class="col col-4 p2">
    <h1 id="title">Superheroes</h1>
    <ul>
    {{#each character in model}}
      <li>
        {{#link-to 'characters.show' character}}
          {{character.name}}
        {{/link-to}}
      </li>
    {{/each}}
    </ul>

  </div>
  <div class="col col-8 p2">
    {{outlet}}
  </div>
</div>
