<div class="clearfix black bg-orange">
  <div class="col col-4 p2">
    <h1 id="title">Superheroes</h1>
    <input type="text" class="block full-width field-light" placeholder="Search...">
    {{#each character in model}}
        {{#link-to 'characters.show' character classNames="button block button-transparent"}}
          {{character.name}}
        {{/link-to}}
    {{/each}}
  </div>
  <div class="col col-8 p2">
    {{outlet}}
  </div>
</div>
